$degrade-top-20: linear-gradient(to top, black 20%, rgb(61, 50, 50));
$degrade-left-20: linear-gradient(to left, black 20%, rgb(61, 50, 50));
$degrade-right-20: linear-gradient(to right, black 20%, rgb(61, 50, 50));


